* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: #eeeeee
}

body,
#app,
#app > div {
  display:flex; 
  flex-direction:column;
  height:100%; padding:0; margin:0; width:100%;
  overflow: hidden;
}

.world {
  background-color:chocolate;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  width: 100%;
  align-content: baseline;
}

.settings {
  background-color: cadetblue;
}